<!DOCTYPE html>
<html>
  <title>Garfield Demonstrator</title>
  <body>
    <h1>Garfield Demonstrator</h1>

    <form action="{{ url_for('train') }}" method="post">
      <div>
        <label for="n">Total number of nodes:</label>
        <input type="text" size="30" name="n" />
      </div>
      <div>
        <label for="f">Number of byzantine nodes:</label>
        <input type="text" size="30" name="f" />
      </div>
      <div>
        <label for="aggregator">Aggregator:</label>
        <select id="aggregator" name="gar">
          <option value="average">average</option>
          <option value="median">median</option>
        </select>
      </div>
      <div><input type="submit" value="Train" /></div>
    </form>
  </body>
</html>
